<div class="container__highlight__card">
  <div class="highlight__card__image">
    <img src="../../../assets/highlight-card-img-placeholder.png" alt="" />
  </div>
  <div class="highlight__card__title">
    <h1>
      <a href="">Lorem ipsum dolor sit amet, consectetur adipiscing elit</a>
    </h1>
  </div>
  <div class="highlight__card__sumary">
    <p>
      Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
      aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
      voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
      sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
      mollit anim id est laborum.
    </p>
  </div>
</div>
