<header>
  <app-menu-bar></app-menu-bar>
</header>
<app-header-title></app-header-title>
<div class="articles">
  <div class="articles__highlight__card">
    <app-highlight-card
      image="../../../assets/highlight-card-img-placeholder.png"
      title="Lorem ipsum dolor sit amet, consectetur adipiscing elit"
      sumary="Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi utaliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit involuptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteursint occaecat cupidatat non proident, sunt in culpa qui officia deseruntmollit anim id est laborum."
    ></app-highlight-card>
  </div>
  <div class="articles__card">
    <app-card
      image="../../../assets/highlight-card-img-placeholder.png"
      title="Lorem ipsum dolor sit amet, consectetur adipiscing elit"
    ></app-card>
    <app-card
      image="../../../assets/highlight-card-img-placeholder.png"
      title="Lorem ipsum dolor sit amet, consectetur adipiscing elit"
    ></app-card>
    <app-card
      image="../../../assets/highlight-card-img-placeholder.png"
      title="Lorem ipsum dolor sit amet, consectetur adipiscing elit"
    ></app-card>
  </div>
</div>
